{% extends "base.html" %}
{% load static %}
{% block thermal_link %}
    <li class="navbar__link-active">
{% endblock thermal_link %}
{% block title %}Геометрические характеристики дымовой трубы{% endblock title %}
{% block main %}
    <div class="container">
        <h1 class="main-banner__page-title" >Геометрические характеристики ствола</h1>
        <form method="post">{% csrf_token %}
            <div class="main-field__wrapper form-inline">
                <div class="form-group">
                    <label for="{{ form.sector.id_for_label }}">Номер участка снизу:</label>
                    <input class="form-control" type="number" min="0" step="1" title="Максимум 10 участков" value="{{ colomns }}" name="{{ form.sector.name }}"
                           id="main_{{ form.sector.name }}">
                </div>
                <div class="form-group">
                    <label for="{{ form.bottom_mark.id_for_label }}">Отметка низа участка, м:</label>
                    <input class="form-control" type="number" min="0" step="0.01" value="0" name="{{ form.bottom_mark.name }}"
                           id="main_{{ form.bottom_mark.name }}">
                </div>
            </div>

            <div class="form-group form-inline detail-field__checkbox">
                <input type="checkbox" checked disabled id="skeleton" data-toggle="collapse" data-target="#collapseSkeleton" aria-expanded="false" aria-controls="collapseSkeleton">
                <label for="skeleton">Несущий ствол</label>
            </div>
            <div class="row detail-field__wrapper skeleton collapse in" id="collapseSkeleton">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.skeleton_thickness.id_for_label }}">Толщина, мм:</label>
                        <input class="form-control" type="number" min="0" step="1" value="0" name="{{ form.skeleton_thickness.name }}"
                               id="id_{{ form.skeleton_thickness.name }}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.skeleton_radius_outer.id_for_label }}">Наружный радиус, мм:</label>
                        <input class="form-control" type="number" min="0" step="1" value="0" name="{{ form.skeleton_radius_outer.name }}"
                               id="id_{{ form.skeleton_radius_outer.name }}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.skeleton_radius_inner.id_for_label }}">Внутренний радиус, мм:</label>
                        <input class="form-control" type="number" min="0" step="1" value="0" name="{{ form.skeleton_radius_inner.name }}"
                               id="id_{{ form.skeleton_radius_inner.name }}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.skeleton_transcalency.id_for_label }}">Теплопроводность, Вт/(м-°С):</label>
                        <input class="form-control" type="number" min="0" step="0.01" value="0" name="{{ form.skeleton_transcalency.name }}"
                               id="{{ form.skeleton_transcalency.name }}">
                    </div>
                </div>
            </div>

            <div class="form-group form-inline detail-field__checkbox">
                <input type="checkbox" id="clamp" data-toggle="collapse" data-target="#collapseClamp" aria-expanded="false" aria-controls="collapseClamp">
                <label for="clamp">Прижимная футеровка</label>
            </div>
            <div class="row detail-field__wrapper clamp collapse" id="collapseClamp">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.clamp_lining_thickness.id_for_label }}">Толщина, мм:</label>
                        <input class="form-control" type="number" min="0" step="1" value="0" name="{{ form.clamp_lining_thickness.name }}"
                               id="id_{{ form.clamp_lining_thickness.name }}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.clamp_lining_radius_outer.id_for_label }}">Наружный радиус, мм:</label>
                        <input class="form-control" type="number" min="0" step="1" value="0" name="{{ form.clamp_lining_radius_outer.name }}"
                               id="id_{{ form.clamp_lining_radius_outer.name }}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.clamp_lining_radius_inner.id_for_label }}">Внутренний радиус, мм:</label>
                        <input class="form-control" type="number" min="0" step="1" value="0" name="{{ form.clamp_lining_radius_inner.name }}"
                               id="id_{{ form.clamp_lining_radius_inner.name }}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.clamp_lining_transcalency.id_for_label }}">Теплопроводность, Вт/(м-°С):</label>
                        <input class="form-control" type="number" min="0" step="0.01" value="0" name="{{ form.clamp_lining_transcalency.name }}"
                               id="{{ form.clamp_lining_transcalency.name }}">
                    </div>
                </div>
            </div>

            <div class="form-group form-inline detail-field__checkbox">
                <input type="checkbox" id="air" data-toggle="collapse" data-target="#collapseAir" aria-expanded="false" aria-controls="collapseAir">
                <label for="air">Воздушный зазор</label>
            </div>
            <div class="row detail-field__wrapper air collapse" id="collapseAir">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.air_thickness.id_for_label }}">Толщина, мм:</label>
                        <input class="form-control" type="number" min="0" step="1" value="0" name="{{ form.air_thickness.name }}"
                               id="id_{{ form.air_thickness.name }}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.air_radius_outer.id_for_label }}">Наружный радиус, мм:</label>
                        <input class="form-control" type="number" min="0" step="1" value="0" name="{{ form.air_radius_outer.name }}"
                               id="id_{{ form.air_radius_outer.name }}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.air_radius_inner.id_for_label }}">Внутренний радиус, мм:</label>
                        <input class="form-control" type="number" min="0" step="1" value="0" name="{{ form.air_radius_inner.name }}"
                               id="id_{{ form.air_radius_inner.name }}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.air_transcalency.id_for_label }}">Теплопроводность, Вт/(м-°С):</label>
                        <input class="form-control" type="number" min="0" step="0.01" value="0" name="{{ form.air_transcalency.name }}"
                               id="{{ form.air_transcalency.name }}">
                    </div>
                </div>
            </div>
            
            <div class="form-group form-inline detail-field__checkbox">
                <input type="checkbox" id="insulation" data-toggle="collapse" data-target="#collapseInsulation" aria-expanded="false" aria-controls="collapseInsulation">
                <label for="insulation">Теплоизоляция</label>
            </div>
            <div class="row detail-field__wrapper insulation collapse" id="collapseInsulation">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.insulation_thickness.id_for_label }}">Толщина, мм:</label>
                        <input class="form-control" type="number" min="0" step="1" value="0" name="{{ form.insulation_thickness.name }}"
                               id="id_{{ form.insulation_thickness.name }}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.insulation_radius_outer.id_for_label }}">Наружный радиус, мм:</label>
                        <input class="form-control" type="number" min="0" step="1" value="0" name="{{ form.insulation_radius_outer.name }}"
                               id="id_{{ form.insulation_radius_outer.name }}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.insulation_radius_inner.id_for_label }}">Внутренний радиус, мм:</label>
                        <input class="form-control" type="number" min="0" step="1" value="0" name="{{ form.insulation_radius_inner.name }}"
                               id="id_{{ form.insulation_radius_inner.name }}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.insulation_transcalency.id_for_label }}">Теплопроводность, Вт/(м-°С):</label>
                        <input class="form-control" type="number" min="0" step="0.01" value="0" name="{{ form.insulation_transcalency.name }}"
                               id="{{ form.insulation_transcalency.name }}">
                    </div>
                </div>
            </div>
            
            <div class="form-group form-inline detail-field__checkbox">
                <input type="checkbox" id="lining" data-toggle="collapse" data-target="#collapseLining" aria-expanded="false" aria-controls="collapseLining">
                <label for="lining">Футеровка</label>
            </div>
            <div class="row detail-field__wrapper lining collapse" id="collapseLining">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.lining_thickness.id_for_label }}">Толщина, мм:</label>
                        <input class="form-control" type="number" min="0" step="1" value="0" name="{{ form.lining_thickness.name }}"
                               id="id_{{ form.lining_thickness.name }}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.lining_radius_outer.id_for_label }}">Наружный радиус, мм:</label>
                        <input class="form-control" type="number" min="0" step="1" value="0" name="{{ form.lining_radius_outer.name }}"
                               id="id_{{ form.lining_radius_outer.name }}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.lining_radius_inner.id_for_label }}">Внутренний радиус, мм:</label>
                        <input class="form-control" type="number" min="0" step="1" value="0" name="{{ form.lining_radius_inner.name }}"
                               id="id_{{ form.lining_radius_inner.name }}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.lining_transcalency.id_for_label }}">Теплопроводность, Вт/(м-°С):</label>
                        <input class="form-control" type="number" min="0" step="0.01" value="0" name="{{ form.lining_transcalency.name }}"
                               id="{{ form.lining_transcalency.name }}">
                    </div>
                </div>
            </div>
            <div class="page__buttons-wrapper">
                <button type="submit" class="button-main">Применить</button>
                <a href="../input-data-thermal/{{ project_id }}">
                    <button type="button" class="button-accent">Далее</button>
                </a>
            </div>
        </form>
            <div class="row page__geometry-wrapper">
                <div class="col-md-2 page__geometry-headline-wrapper">
                    {% if colomns_data %}
                    {% for l in headline_list %}
                        <div class="page__geometry-headline">{{ l }}</div>
                    {% endfor %}
                {% endif %}
                </div>
            {% for o in colomns_data %}
                <div class="col-md-1 page__geometry-result-wrapper">
                    {% for i in o %}
                        {% if i %}
                            <div class="page__geometry-result">{{ i }}</div>
                        {% else %}
                            <div class="page__geometry-result">0</div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock main %}
{% block script %}
    <script>
        var param = $("input[id*='id_']");
        function calculate_radius(numberInput) {
            if (numberInput%3===1) {
                {#console.log('first');#}
                param[numberInput + 1].value = parseInt(param[numberInput].value) -
                parseInt(param[numberInput - 1].value);
            } else if (numberInput%3===2) {
                {#console.log('second');#}
                param[numberInput].value = parseInt(param[numberInput - 1].value) -
                parseInt(param[numberInput - 2].value);
            } else if (numberInput%3===0) {
                {#console.log('third');#}
                param[numberInput - 3].value = parseInt(param[numberInput - 2].value) -
                parseInt(param[numberInput - 1].value);
            }
        };
        param.each(function(index) {
            param[index].onchange = function () {
                calculate_radius(index + 1)
            }
        });
        $("input[type='checkbox']").change(function() {
            if(!this.checked) {
                var pattern = this.id;
                var inputClear =  $("input[name*='" + pattern + "']");
                inputClear.each(function (index) {
                    inputClear[index].value = null;
                });
            }
        });
    </script>
{% endblock script %}