{% extends "base.html" %}
{% load static %}
{% block thermal_link %}
    <li class="navbar__link-active">
{% endblock thermal_link %}
{% block title %}Эксплуатационные показатели дымовой трубы{% endblock title %}
{% block main %}
    <div class="container page-height-control">
        <h1 class="main-banner__page-title" >Условия эксплуатации дымовой трубы</h1>
        <form method="post">{% csrf_token %}
            <div class="row main-field__wrapper">
                <div class="col-md-4 form-group">
                    <label for="{{ form.volume_gas.id_for_label }}">Объем отводимых газов, м3/с:</label>
                    <input class="form-control" type="number" min="0" step="1" value="0" name="{{ form.volume_gas.name }}"
                           id="main_{{ form.volume_gas.name }}">
                </div>
                <div class="col-md-4 form-group">
                    <label for="{{ form.current_temperature_gas.id_for_label }}">Температура отводимого газа, °С:</label>
                    <input class="form-control" type="number" min="{{ min_temperature }}" step="1" value="0"
                           name="{{ form.current_temperature_gas.name }}" id="main_{{ form.current_temperature_gas.name }}">
                </div>
                <div class="col-md-4 form-group">
                    <label for="{{ form.current_temperature.id_for_label }}">Температура воздуха, °С:</label>
                    <input class="form-control" type="number" step="1" value="0"
                           name="{{ form.current_temperature.name }}" id="main_{{ form.current_temperature.name }}">
                </div>
            </div>

            <button type="submit" class="button-main">Показать результаты</button>
        </form>
    </div>
{% endblock main %}